{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
{%include 'primary/header.html'%}
<link href="static/css/signin.css" rel="stylesheet">
{% comment %} <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

{% comment %} <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } {% endcomment %}
</style>
</head>


<body class="text-center">
  <main class="form-signin">
    <form method="POST">
      
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      {% csrf_token%}
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="@username" name="username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name= "password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>
  <br>
    <button class="btn btn-outline-success" ><a href="{% provider_login_url 'google' %}" >Login With Google</a></button>
    {%include 'primary/footer.html'%}
</body>
</html>
